body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    color: black;
    font-family: Helvetica, sans-serif;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
}

nav {
    background-color: white ;
    color: white;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;
    flex-wrap: wrap;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-bottom: #1a1d29 solid 1px;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;

}
nav a:hover {
    text-decoration: underline;
}

main {
    background-color: aliceblue;
    color: black;
    display: grid;
    padding: 2rem;
}

.articles-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
}

article img {
    width: 100%;
    max-height: 900px;
    object-fit: contain;
    display: block;
    margin-bottom: 2rem;
}

.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    margin-bottom: 8px;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group select,
.form-group textarea {
    width: 100%;
    max-width: 800px;
    padding: 10px;
    background: #1a1d29;
    color: #fff;
    border-radius: 4px;
}

input[type="checkbox"],
input[type="radio"] {
    cursor: pointer;
}


button {
    background: darkblue;
    color: white;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    text-transform: uppercase;
}
button:hover {
    background: #00a8cc;
}

.signup-header {
    color: darkblue;
    font-size: 40px;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.radio-group {
    display: flex;
    gap: 1rem;
    padding: 2rem 1rem;
}

.error {
    color: red;
    border-color: red;
}

.galery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0.5rem;
}

.galery a img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    padding: 2rem;
}

.table th, .table td, #spectable th, #spectable td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

#spectable th {
    background-color: #e0e0e0;
    font-weight: bold;
}